@charset "utf-8";/*embeds Lato font*/
@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
	src: url('Lato-Regular.eot');
    src: local("?"), url("Lato-Regular.woff") format("woff"), url("Lato-Regular.ttf") format("truetype"), url("Lato-Regular.svg#webfontBsXB6tm7") format("svg");
}
/*Global styles*/
body,img,p,ul,li, h2, h3, h1 {
	font-family:Lato, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666;
	margin:0;
	padding:0;
	border:none;
	outline:none;
}
label {
	font-size:14px;
	font-weight:bold;
	clear:both;
	float:left;
	margin-bottom:20px;
}
a {
	text-decoration:
	none;outline:none;
	color:#000;
}
p {
	line-height:22px;
}
h1 {
	font-size:55px;
	color:#69ad44;
	letter-spacing:1px;
	font-weight:bolder;
	text-shadow: 0 0 1px #69ad44;
}
h2 {
	font-size:18px;
	color:#fff;
	letter-spacing:1px;
	text-transform:uppercase;
}
h3 {
	font-size:16px;
	font-weight:bold;
	color:#fff;
}
input {
	color:#0099CC;
}
body {
	background:#fff url(../images/bg_body.jpg) top center repeat-x;
	margin:0 auto;
}
.wrapper {/*fixed width for all the content*/
	margin:0 auto;
	width:960px;
}
.header {
	float:left;
	height:61px;
	width:100%;
}
.header .logo {
	float:left;
	margin:17px 0 0 4px;
}
.v_top_nav li {
	font-size:14px;
	font-weight:bold;
	border-right:1px dashed #b4bbbf;
	list-style:none;
}
.v_top_nav li a {
	color:#09c;
}
.v_top_nav li a:hover {
	color:#666;
}
.v_search_form {
	background:url(../images/bg_search_form.jpg) top center no-repeat;
	width:960px;
	height:90px;
}
.v_search .v_search_input {
	background:url(../images/bg_search_result_page.jpg) top left no-repeat;
	font-size:16px;
	font-weight:bold;
	color:#09c;
}
.v_search label {
	color:#333;
}
.v_search .v_input_bg {
	background:url(../images/bg_input1.jpg) top center no-repeat;
}
.v_search .v_dropdwon_bg {
	background:url(../images/bg_input2.jpg) top center no-repeat;
	color:#09c;
}
.v_search .v_submit_search {
	background:url(../images/btn_search.jpg) top center no-repeat;
}
.v_search_results {
	background:url(../images/bg_search_result.jpg) center bottom no-repeat;
}
.v_search_results .tab_content {
	background-color:#fff;
	padding:10px;
	border-radius:4px;
	float:left;
	width:97%;
}
.v_search_results .display_no p {
	font-size:14px;
}
.v_search_results .pagination li a {
	background-color:#5ea0ce;
	color:#fff;
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;
}
.v_search_results .pagination li a:hover, .v_search_results .pagination .current {
	background-color:#fff;
	color:#5ea0ce;
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;
}
.v_search_results .search_sort .dropdwon_bg {
	background:url(../images/bg_input3.jpg) top center no-repeat;
	color:#09c;
}
.v_search_results .search_sort {
	color:#666;
}
.v_search_results .tab_content .search_result .villa_image {
	background-color:#fff;
	border:1px solid #ccc;
	width:115px;
	height:75px;
}
.v_search_results .tab_content .search_result .search_no {
	background-color:#fff;
	color:#c36;
	text-align:center;
	width:16px;
	height:16px;
	position:absolute;
	top:0;
	left:0;
}
.v_search_results .tab_content .search_result .resort_details .reviews {
	background:url(../images/bg_circle_review.jpg) top center no-repeat;
}
.v_refine_results{}
.footer {
	background:url(../images/bg_footer.png) top center no-repeat;
	float:left;
	height:46px;
	width:940px;
	padding:75px 10px 0 10px;
}
.dsclimr  {
	float:left;
}
.dsclimr span {
	font-weight:bold;
	margin-right:45px;
	float:left;
}
.dsclimr a	{
	color:#666;
	text-decoration:underline;
	margin:0 10px;
}
.v_futr_nav, .social_ico {
	float:left;
}
.v_futr_nav ul {
	float:left;
	margin:0 10px 0 60px;
}
.social_ico ul {
	float:left;
}
.v_futr_nav li, .social_ico li{
	line-height:22px;
	float:left;
	display:inline;
	list-style:none;
}
.v_futr_nav li{
	margin-right:20px;
}
.social_ico li {
	margin-right:10px;
}
.v_futr_nav li a {
	color:#666;
}
/*************Registration Page***************/
.v_rgstr_frm {
	background:url(../images/bg_rgstr_page.jpg) top left repeat;
	width:910px;
	-moz-border-radius:4px;
	padding:25px;
}
.register {
	background-color:#fff;
	border:2px dotted #ccc;
	float:left;
	width:440px;
	margin:25px 0;
	padding:25px;
}
.register .form-section input {
	background:url(../images/bg_input_regi.jpg) top left no-repeat;
	height:25px;
	width:245px;
	border:none;
	float:left;
	margin-top:10px;
	padding:0 10px;
}
.register .form-section .username {
	background:url(../images/bg_username.jpg) top left no-repeat;
	height:40px;
	width:415px;
	border:none;
	padding:0 10px;
}
.register .form-section .input {
	background:url(../images/btn_creat_accnt.jpg) top left no-repeat;
	width:169px;
	height:40px;
	clear:both;
	float:left;
	cursor:pointer;
}
.register .form-section .login {
	background:url(../images/btn_login.jpg) top left no-repeat;
	width:120px;
	height:40px;
	clear:both;
	float:left;
	cursor:pointer;
}
.register .form-section .chk_bx{
	float:left;
	width:300px;
}
.register .form-section .remeber_me{
	float:right;
	margin-top:10px;
}
.register .form-section .chk_bx input, .register .form-section .remeber_me input{
	background:none;
	float:left;
	width:20px;
	margin-right:5px;
	border:none;
}
.register .form-section .remeber_me p {
	width:175px;
	line-height:44px;
}
.register .form-section .chk_bx p{
	line-height:44px;
}
.register .form-section .chk_bx p a{
	color:#0099cc;
}
.v_ctnt_right_regst {
	float:left;
	width:300px;
	margin:50px 0 0 100px;
}
.v_ctnt_right_regst p{
	font-size:18px;
	margin-top:30px;
}
.v_ctnt_right_regst p span a{
	font-size:14px;
	color:#0099cc;
}
.error_msg {
	background:url(../images/bg_errormsg.jpg) top left no-repeat;
	width:960px;
	height:30px;
	float:left;
	margin-bottom:20px;
	text-align:center;
	padding-top:10px;
}
.error_msg p{
	font-size:14px;
	font-weight:bold;
}

/****************detailed page********************/
.v_social_ico {
}
.v_link_back_page {
	background:url(../images/btn_backpage.jpg) top left no-repeat;width:200px;height:17px;
	color:#0099CC;
}
.v_link_back_page a {
	color:#0099CC;
}
.v_link_back_page a:hover {
	color:#666;
}
.v_listing_header {
	background:url(../images/bg_list_header.jpg) top center no-repeat;
	width:930px;
	height:70px;
	float:left;
	padding:10px 15px;
}
.h2 {
	float:left;
}
.h2 h1{
	font-size:36px;
	color:#69ad44;
	font-weight:bold;
	text-shadow: 0 0 1px #69ad44;
	float:left;
}
.h2 h2 {
	color:#666;
	font-weight:normal;
	text-shadow:none;
	text-transform:none;
	clear:both;
	float:left;
}
.h2 span a{
	background:url(../images/icon_favorite.jpg) center left no-repeat;
	width:16px;
	height:14px;
	float:left;
	margin:10px 0 0 5px;
}
.h2 span a:hover{
	background:url(../images/icon_favorite-a.jpg) center left no-repeat;
}
.entire_villa {
	background-color:#e4e4e4;
	float:left;
	-moz-border-radius:4px;
	-moz-border-radius:4px;
	margin:0 0 0 10px;
}
.entire_villa p{
	color:#666;
	font-weight:normal;
	text-shadow:none;
	padding:2px 7px;
}
.v_ratings{
	float:right;
}
.v_listing_header .ratings span, .v_listing_header .v_ratings .reviews span {
	color:#666;
	font-weight:normal;
	font-size:9px;
	text-transform:uppercase;
	margin-top:8px;
	text-align:center;
	float:left;
}
.ratings span {
	clear:both;
	margin-left:50px;
}
.ratng_rvews .ratings span {
	clear:both;
	margin:0;
	font-size:11px;
	width:100%;
	float:left;
}
.ratng_rvews .ratings{
	text-align:left;
}
.ratings {
	width:135px;
	float:left;
	margin-right:25px;
	text-align:center;
}
.ratings ul {
	float:left;
	margin:10px 0 0 30px;
	clear:right;
}
.ratng_rvews .ratings ul{
	margin:5px 0 5px 0;
	clear:both;
	width:100%;
}
.ratings li {
	float:left;
	display:inline;
	list-style:none;
	margin-right:3px;
}
.v_listing_header .v_ratings .reviews {
	background:url(../images/bg_circle_review.jpg) top center no-repeat;
}
.slide{
	float:left;
}